.description {
  display: flex;
  height: 385px;
  width: 67.5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


 &__title {
  font: {
    family:  "Dancing Script";
    size: 200px;
  }
  line-height: 166px;
}

&__subtitle {
  font: {
    family: "Circular Std Medium";
    size: 80px;
    weight: 900;
  }
}

&__line {
  width: 16px;
  height: 0px;
  border-radius: 40px;
}

&__text {
  font: {
    family: "Circular Std Medium";
    size: 26px;
  }
  text-align: center;
}
}


.destinations__title {
  color: #FFD600;
}

.more__title {
  color: #0CA296;
}

.destinations__subtitle {
  color: #FFFFFF;
}

.destinations__text {
  color: #FFFFFF;
}

.more__subtitle {
  color:  #000000;
}

.destinations__line {
  border: 16px dashed rgba(255, 255, 255, 0.4);
}

.more__line {
  border: 16px dashed #CBE7E4;
}

.more__text {
  color: #565656;
}
