.description {
  @include flex(flex, column, space-between, center);
  margin: 0 auto;
  height: 380px;
  width: 67.5%;
  padding: 90px 0px;

  &__title-box {
    @include flex(flex, column, center, center);
    height: 100px;
  }

  &__title {
    font: {
      family: "Dancing Script";
      size: calc(100px + 16 * ((100vw - 320px) / (1280 - 320)));
    }
    text-transform: lowercase;
  }

  &__subtitle {
    font: {
      family: "Circular Std Medium";
      size: calc(80px + 16 * ((100vw - 320px) / (1280 - 320)));
      weight: 900;
    }
    text-transform: lowercase;
  }

  &__line {
    width: 16px;
    height: 0px;
    margin-bottom: 32px;
    border-radius: 40px;
  }

  &__text {
    font: {
      family: "Circular Std Medium";
      size: 26px;
    }
    text-align: center;
  }
}

.destinations__title {
  color: #ffd600;
}

.more__title {
  color: $base-color;
}

.destinations__subtitle,
.destinations__text {
  color: $bright-font-color;
}

.more__subtitle {
  color: #000000;
}

.destinations__line {
  border: 16px dashed rgba(255, 255, 255, 0.4);
}

.more__line {
  border: 16px dashed #cbe7e4;
}

.more__text {
  color: #565656;
}
