.header {
  @include flex(flex, row, center, center);
  max-width: 1440px;
  height: 10vh;
  margin: 0 auto;
  background-color: $bright-font-color;


  &__wrapper {
  @include flex(flex, row, center, center);
  width: 86%;
  }

  &__nav {
    width: 35%;
    padding-right: 5%;
  }


  &__nav-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  }


  &__logo {
    display: flex;
    justify-content: start;
    width: 65%;
    font: {
      family: "Dancing Script";
      size: 32px;
      weight: bold;
    }
   color: $base-color;
  }
}

.nav-list-link {
  font: {
    family: "Circular Std Medium";
    size: 18px;
  }
  color: #000000;
}


.header__burger {
  box-sizing: border-box;
  display: block;
  justify-self: end;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #000000;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  & span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
    background-color: #000000;
  }
}


.nav-list-link {
	position: relative;
	color: #000000; 
	cursor: pointer;
	line-height: 1.8; 
	text-decoration: none; 

}
.nav-list-link:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #000000;
	content: "";
	transition: width 0.3s ease-out; 
}

.nav-list-link:hover:after,
.nav-list-link:focus:after {
	width: 100%; 
}

