.main {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  max-height: 812px;
  height: 90vh;
  background: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%), url("../../img/main-background.jpg") no-repeat;
  background-size: cover;


  &__container {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    flex-wrap: wrap;
    align-items: flex-end;
    max-height: 812px;
    width: 90%;
    flex-wrap: wrap;
  }

  &__title{
    display: flex;
    padding-top: 8%;
    flex-direction: column;
    justify-content: center;
    text-transform: lowercase;
  }

  &__title-item{
    display: flex;
    align-items: flex-end;
    font: {
      family: $second-font;
      size: calc(120px + 16 * ((100vw - 320px) / (1280 - 320)));;
      weight: 400;
    }
    color: #FFC700;
    z-index: 0;
  }

  &__subtitle{
    display: flex;
    align-items: flex-end;
    font: {
      family: $main-font;
      size: calc(300px + 16 * ((100vw - 320px) / (1280 - 320)));;
      weight: 900;
    }
    color: $bright-font-color;
    z-index: 10;
  }

  &__details {
    display: flex;
    height: 100%;
    padding-bottom: 5%;
    max-width: 251px;
    max-height: 88px;
  }

  &__button {
    height: 100%;
    padding-right: 28px;
    max-height: 80px;
    max-width: 52px;
  }

  &__label {
    height: 100%;
    font: {
    family: $main-font;
    size: calc(8px + 16 * ((100vw - 320px) / (1280 - 320)));
    weight: 500;
    }
    color: $bright-font-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
  }
}





.destinations {
  @include flex(flex, row, center, center);
  flex-direction: column;
  height: 140vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, $base-color-2 43.53%, rgba(0, 190, 172, 0) 100%);

  &__cards {
  width: 92%;
  height: 643px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

  &__border {
  max-width: 1440px;
  margin: 0 auto;
	height: 40px;
	color: $base-color-2;
	background-image: linear-gradient(90deg, $base-color-2, $bright-font-color 96%, transparent 33.33%, transparent 100%);
	background-size: 3px 100%;
  }
}

.more-destinations {
  @include flex(flex, column, center, center);
  height: 1300px;
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 21px;
}


.more__cards {
  width: 91%;
  height: 650px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 342px 459px 459px;
  grid-template-rows: 345px 345px;
  grid-template-areas: 
  "estaing vik hamnoy"
  "estaing montego montego";
}

.more__cards--estaing {
  grid-area: estaing;
}

.more__cards--vik {
  grid-area: vik;
}

.more__cards--hamnoy {
  grid-area: hamnoy;
}

.more__cards--montego {
  grid-area: montego;
}







