.main {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 812px;
  height: 90vh;
  background: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%), url("../../img/main-background.jpg") no-repeat;

  &__container {
    height: 100%;
    width: 90%;
    @include flex(flex, row, space-between, center);
    padding: 0px 6% 0px 6.5%;
  }

  &__title{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-transform: lowercase;
  }

  &__title-item{
    font: {
      family: "Dancing Script";
      size: 120px;
      weight: 400;
    }
    color: #FFC700;
    z-index: 0;
  }

  &__subtitle{
    display: flex;
    font: {
      family: "Circular Std Medium";
      size: 300px;
      weight: 900;
    }
    line-height: 228px;
    color: $bright-font-color;
    z-index: 10;
  }

  &__button {
    height: 82px;
    width: 52px;
  }

  &__label {
    width: 170px;
    height: 46px;
    padding-left: 25px;
    font: {
    family: "Circular Std Medium";
    size: 18px;
    weight: 500;
    }
    color: $bright-font-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 23px;
  }

  &__details {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__button{
    margin-right: 5%;
  }
}


.destinations {
  @include flex(flex, row, center, center);
  flex-direction: column;
  height: 1012px;
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(180deg, $base-color-2 43.53%, rgba(0, 190, 172, 0) 100%);

  &__cards {
  width: 92%;
  height: 643px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

  &__border {
  background: $base-color-2;
  height: 40px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4), 75%, transparent 75%, transparent 100%);
  background-size: 1px 1px;
  border: none;
  }
}

.more-destinations {
  @include flex(flex, column, center, center);
  height: 1057px;
  margin: 0 auto;
  max-width: 1440px;
}


.more__cards {
  width: 91%;
  height: 650px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 342px 459px 459px;
  grid-template-rows: 345px 345px;
  grid-template-areas: 
  "estaing vik hamnoy"
  "estaing montego montego";
}

.more__cards--estaing {
  grid-area: estaing;
}

.more__cards--vik {
  grid-area: vik;
}

.more__cards--hamnoy {
  grid-area: hamnoy;
}

.more__cards--montego {
  grid-area: montego;
}







