.location__main {
  width: 1440px;
  height: 595px;
  margin: 0 auto;
}

.paraty__main {
 background: url("../../img/paraty-gradient.png") bottom, url("../../img/paraty-background.png");
 background-repeat: no-repeat;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.location__main-wrap {
  width: 90%;
  max-width: 1300px;
  height: 542px;
  margin: 0 auto;
}


.paraty__main-wrap {
  background: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%), url("../../img/paraty-image.png");
  filter: drop-shadow(0px 27px 22px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
}

.location__name {
   height: 100%;
  @include flex(flex, column, center, center);
}

.location__title {
  font: {
      family: $main-font;
      size: calc(160px + 16 * ((100vw - 320px) / (1280 - 320)));
      weight: 900;
  }
  color: $bright-font-color;
}


.location__subtitle {
  @include flex(flex, row, center, center);
  font: {
    family: $main-font;
    size: 14px;
    weight: 500;
  }
  text-transform: uppercase;
  color: $bright-font-color;
}

.location__details {
  margin: 0 auto;
  max-width: 1440px;
  background-color: $location-background-color;
}

.location__details-wrap {
  padding: 10px 0px 130px 0px;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}


.location__information {
  @include flex(flex, column, start, center);
  width: 50%;
  max-height: 892px;
}

.location__article {
  padding: 40px 0px;
  @include flex(flex, column, space-around, center);
  display: none;
}


.tabs__body {
  display: flex;
}

.location__article:target {
  display: block;
}


.location__article--paragraph {
  padding-bottom: 20px;
  font: {
    family: $main-font;
    size: 16px;
    weight: 400;
  }
  line-height: 25px;
  color: $dark-font-color;
}


.location-articles-item {
  width: 100%;
  height: 100%;
}

.more-location-articles {
  padding-top: 26px;
  width: 100%;
}

.more-location-articles__container {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-location-articles__title {
  @include location-title;
}

.location-articles-item {
  height: 202px;
  width: 194px;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 3.6528px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.articles-item__title {
  padding-top: 60%;
  width: 80%;
  display: flex;
  margin: 0 auto;
    font: {
    family: $main-font;
    size: 14px;
    weight: 900;
  }
  line-height: 18px;
  color: $bright-font-color;
}


.articles-item__site {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px 20px 0px;
    font: {
    family: $main-font;
    size: 9px;
    weight: 500;
  }
  text-transform: uppercase;
  color: $site-link-font-color;
}


.expat-article {
  background-image: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%), url("../../img/expat-image.jpg");
}

.best-things-article {
  background-image: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%), url("../../img/best-things-image.jpg");
}

.worth-article {
  background-image: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%), url("../../img/worth-image.jpg");
}


.location__nav-list {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 647px;
  color: $dark-font-color;
}

.location__nav-item {
  position: relative;
  @include location-title;
  cursor: pointer;
  text-decoration: none; 
}

.location__nav-link {
  @include location-title;
}


.location__nav-link:hover {
	color: $hovered-links-color; 
}

.location__data {
  width: 39%;
}

.location__statistic {
  @include table;
  height: 132px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.location__size,
.location__weather,
.location__safety {
  display: flex;
  padding-top: 28px;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
}

.location__size,
.location__weather {
  border-right: 1px solid $dark-font-color;
}


.location__size-description {
  display: flex;
}

.location__weather {
  width: 33.3%;
  border-right: 1px solid $dark-font-color;
}


.location__statistic-title {
  padding-bottom: 23px;
  @include location-title;
}

.location__description {
 font: {
    family: $main-font;
    size: 14px;
    weight: 500;
  }
  text-transform: uppercase;
  color: $black-font-color;
  line-height: 17.71px;
}

.city-size-data {
  padding-left: 10px;
}


.city-size-year {
   font: {
    family: $main-font;
    size: 12px;
  }
  text-transform: uppercase;
  color: $dark-font-color;
  line-height: 15px;
}

.location__photos {
  display: grid;
  align-items: center;
  padding-top: 40px;
  grid-template-rows: 194px 194px;
  grid-template-columns: 247px 247px;
  grid-gap: 10px;
  grid-template-areas: 
  "top top"
  "left right";
}


.location__photos-item {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  background-size: cover;
}

.location__photo--top {
  grid-area: top;
  background-image: url("../../img/paraty-photo-top.jpg");
}

.location__photo--left {

  grid-area: left;
  background-image: url("../../img/paraty-photo-left.jpg");
}

.location__photo--right {
  grid-area: right;
  background-image: url("../../img/paraty-photo-right.jpg");
}

.get-in-touch {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $location-background-color
}


.get-in-touch__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
  height: 133px;
  background-color: $base-color-2;
  border-radius: $cards-border-radius;
}

.get-in-touch__image {
  display: flex;
  width: 25%;
  margin: 0 auto;
  padding-bottom: 70px;
  height: 174px;
  width: 174px;
}

.get-in-touch__image--red {
   display: flex;
  align-self: flex-end;
  height: 174px;
  width: 174px;
  background: url("../../img/red-suitcases.png") no-repeat;
  z-index: 5;
}

.get-in-touch__image--yellow {
  display: flex;
  align-self: flex-end;
  height: 56px;
  width: 116px;
  background: url("../../img/yellow-suitcases.png") no-repeat;
  z-index: 10;
}


.get-in-touch__text {
  width: 50%;
  font-family: $main-font;
  color: $bright-font-color;
}

.get-in-touch__text-title {
  font: {
    size: 24px;
    weight: 900;
  }
  line-height: 30px;
}

.get-in-touch__text-description {
  padding-top: 7px;
  font-size: 16px;
  line-height: 20px;
}

.get-in-touch__button-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-in-touch__button {
  margin: 0 auto;
  display: block;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: $main-font;
	font-size: 20px;
	font-weight: bold;
	padding: 13px 32px;
	text-decoration: none;
	text-shadow:0px 1px 0px #3d768a;
  border: none;
}

.get-in-touch__link {
  color: $bright-font-color;
}


.get-in-touch__button:hover  {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.get-in-touch__button:hover {
  opacity: 0.9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}



