.location__main {
  width: 1440px;
  height: 595px;
  margin: 0 auto;
}

.paraty__main {
 background: linear-gradient(rgba(196, 196, 196, 0.5) 100%, rgba(196, 196, 196, 1) 0%), url("../../img/paraty-background.png") no-repeat;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.location__main-wrap {
  width: 90%;
  max-width: 1300px;
  height: 542px;
  margin: 0 auto;
}


.paraty__main-wrap {
  background: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%) no-repeat, url("../../img/paraty-image.png") no-repeat;
  filter: drop-shadow(0px 27px 22px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
}

.location__name {
   height: 100%;
  @include flex(flex, column, center, center);
}

.location__title {
  font: {
      family: $main-font;
      size: calc(160px + 16 * ((100vw - 320px) / (1280 - 320)));
      weight: 900;
  }
  color: $bright-font-color;
}


.location__subtitle {
  @include flex(flex, row, center, center);
  font: {
    family: $main-font;
    size: 14px;
    weight: 500;
  }
  text-transform: uppercase;
  color: $bright-font-color;
}


.location__details {
  padding-top: 10px;
  display: flex;
  height: 600px;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $location-background-color;
}


.location__information {
  @include flex(flex, column, space-between, center);
  width: 50%;
}

.location__article {
  height: 550px;
  @include flex(flex, column, space-around, start);
}

.location__article--paragraph {
  font: {
    family: $main-font;
    size: 16px;
    weight: 400;
  }
  line-height: 25px;
  color: $dark-font-color;
}


.location-articles-item {
  width: 100%;
  height: 100%;
}

.more__location-articles {
  display: grid;
}


.expat-article {
  background-image: url("../../img/expat-image.jpg");
}

.best-things-article {
  background-image: url("../../img/best-things-image.jpg");
}

.worth-article {
  background-image: url("../../img/worth-image.jpg");
}


.location__nav-list {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  max-width: 647px;
}

.location__nav-item {
  position: relative;
  @include location-title;
  cursor: pointer;
  text-decoration: none; 
}


.location__nav-item:hover {
	color: $hovered-links-color; 
}

.location__data {
  width: 39%;
}

.location__statistic {
  display: flex;
  height: 132px;
  width: 504px;
  border: 1px solid $dark-font-color;
  border-radius: $cards-border-radius;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.location__size,
.location__weather,
.location__safety {
  display: flex;
  padding-top: 28px;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  border-right: 1px solid $dark-font-color;
}

.location__size-description {
  display: flex;
}

.location__weather {
  width: 33.3%;
  border-right: 1px solid $dark-font-color;
}


.location__statistic-title {
  padding-bottom: 23px;
  @include location-title;
}

.location__description {
 font: {
    family: $main-font;
    size: 14px;
    weight: 500;
  }
  text-transform: uppercase;
  color: $black-font-color;
  line-height: 17.71px;
}

.city-size-data {
  padding-left: 10px;
}


.city-size-year {
   font: {
    family: $main-font;
    size: 12px;
  }
  text-transform: uppercase;
  color: $dark-font-color;
  line-height: 15px;
}

.location__photos {
  display: grid;
  align-items: center;
  padding-top: 40px;
  grid-template-rows: 194px 194px;
  grid-template-columns: 247px 247px;
  grid-gap: 10px;
  grid-template-areas: 
  "top top"
  "left right";
}


.location__photos-item {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  background-size: cover;
}

.location__photo--top {
  grid-area: top;
  background-image: url("../../img/paraty-photo-top.jpg");
}

.location__photo--left {

  grid-area: left;
  background-image: url("../../img/paraty-photo-left.jpg");
}

.location__photo--right {
  grid-area: right;
  background-image: url("../../img/paraty-photo-right.jpg");
}