
@media (max-width: 1200px) {
	
}

@media (max-width: 992px) {	
  .main__title-item {
    font-size: 120px; 
  }

  .main__subtitle {
    font-size: 180px;
  }

  .burger__wrapper {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .more__cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 459px 459px;
  grid-template-rows: 345px 345px 345px 345px;
  grid-template-areas: 
  "vik hamnoy"
  "estaing"
  "montego montego";
}
}

@media (max-width: 768px) {



  .main__title-item {
    font-size: 80px; 
    line-height: 52px;
  }

  
  .main__subtitle {
    font-size: 120px;
  }

  .main__details {
    padding: 20% 0 0 20%;
  }
  
  .main__button {
    transform: scale(0.6);
  }

  .description__subtitle {
    font-size: 50px;
  }

  .description__line {
   display: none;
}

.description__text {
  font-size: 16px;
}
 .description {
   height: 200px;
   width: 90%;
   padding: 10px 0;
 }

 .description__title-box {
   height: 50px;
 }

 .cards-item {
  margin-bottom: 10px;
 }
}