
@mixin flex($display, $flex-direction, $justify-content, $align-items) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin location-title {
  font: {
    family: $main-font;
    size: 14px;
    weight: 500;
  }
  text-transform: uppercase;
  color: $dark-font-color;
}