$base-color: #0CA296;
$base-color-2: #00BEAC;
$hovered-links-color: #00A77F;
$bright-font-color: #ffffff;
$dark-font-color: #565656;
$black-font-color: #000000;
$location-background-color: #F5FFFE;
$cards-border-radius: 10px;
$main-font: "Circular Std Medium";
$second-font: "Dancing Script";