$base-color: #0ca296;
$base-color-2: #00beac;
$hovered-links-color: #00a77f;
$bright-font-color: #ffffff;
$dark-font-color: #565656;
$black-font-color: #000000;
$site-link-font-color: #d0d0d0;
$location-background-color: #f5fffe;
$facebook-color: #4267b2;
$twitter-color: #1da1f2;
$cards-border-radius: 10px;
$main-font: "Circular Std Medium";
$second-font: "Dancing Script";
